@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: radial-gradient(44.56% 21.46% at 0% 0%, #F8F9FA 0%, #E5EEFF 100%);
  padding-bottom: 2rem;
}

@layer components {
  .backdrop-opacity-disabled {
    background: linear-gradient(162.39deg, rgba(15, 97, 255, 0.9) 0%, rgba(224, 26, 255, 0.9) 100%);
  }
  section[role="dialog"] {
    @apply m-0;
    @apply p-2;
    @apply py-4;
    @apply md:p-6;
    @apply md:py-8;
    @apply rounded-b-none;
    @apply md:rounded-lg;
  }

  footer {
    justify-content: center !important;
  }
}
